[submodule "theming/prismlauncher"]
	path = theming/prismlauncher
	url = https://github.com/dracula/polymc.git
[submodule "theming/wallpaper"]
	path = theming/wallpaper
	url = https://github.com/dracula/wallpaper.git
[submodule "theming/dracula-kitty"]
	path = theming/dracula-kitty
	url = https://github.com/dracula/kitty.git
